<div class="button-margin">
  <% if current_user && current_admin? == false %>
    <div class="center-align post-q"><%= button_to "Post a Question", new_question_path, method: "get" %></div>
  <% end %>
</div>
<% @questions.each do |question| %>
  <div class="row card-rows center-align">
    <div class="col s3" style="width:100%">
      <% if current_admin? %>
        <%= link_to admin_question_path(question) do %>
          <% if question.answer.nil? %>
            <div class="card teal">
          <% else %>
            <div class="card teal answer-border">
          <% end %>
            <div class="card-content white-text show-card">
              <p><%= question.content %></p></br>
              <p>Submitted by: <%= question.user.first_name.capitalize %> <%= question.user.last_name.capitalize[0] %></p>
            </div>
          </div>
        <% end %>
      <% else %>
        <%= link_to question_path(question) do %>
          <div class="card teal">
            <div class="card-content white-text show-card">
              <p><%= question.content %></p></br>
              <p>Submitted by: <%= question.user.first_name.capitalize %> <%= question.user.last_name.capitalize[0] %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
