<div class="button-margin">
  <% if current_user %>
    <div class="center-align post-q"><%= button_to "Post a Comment", new_question_comment_path(@question), method: "get" %></div>
  <% end %>
</div>
<main class="show-q">
  <% if @question.answer %>
    <div class="row card-rows center-align">
      <div class="col s6" style="width:100%">
        <div class="card teal">
          <div class="card-content white-text show-card">
            <p><%= @question.content %></p></br>
            <p>Submitted by: <%= @question.user.first_name.capitalize %> <%= @question.user.last_name.capitalize[0] %>.</p>
          </div>
          <% if @question.user == current_user && @question.answer.nil? %>
            <div class="card-action remove-margin">
              <%= link_to "Edit", edit_question_path(@question), method: 'get' %>
              <%= link_to "Delete", question_path(@question), method: 'delete' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row card-rows center-align">
      <div class="col s6" style="width:100%">
        <div class="card blue">
          <div class="card-content white-text show-card">
            <p><%= @question.answer.content %></p></br>
            <p>Answered by: <%= @question.answer.user.first_name.capitalize %> <%= @question.answer.user.last_name.capitalize[0] %>.</p>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="row card-rows center-align">
      <div class="col s12" style="width:100%">
        <div class="card teal">
          <div class="card-content white-text show-card">
            <p><%= @question.content %></p></br>
            <p>Submitted by: <%= @question.user.first_name.capitalize %> <%= @question.user.last_name.capitalize[0] %>.</p>
          </div>
          <% if @question.user == current_user %>
            <div class="card-action remove-margin">
              <%= link_to "Edit", edit_question_path(@question), method: 'get' %>
              <%= link_to "Delete", question_path(@question), method: 'delete' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</main>
<section>
  <% @comments.each_with_index do |comment, index| %>
    <div class="center-align show-c" id="comment-<%= index + 1 %>">
      <div class="col s12" style="width:65%">
        <div class="card amber">
          <div class="card-content white-text show-card">
            <p><%= comment.content %></p></br>
            <p>Submitted by: <%= comment.user.first_name.capitalize %> <%= comment.user.last_name.capitalize[0] %>.</p>
          </div>
          <% if comment.user == current_user %>
            <div class="card-action remove-margin">
              <%= link_to "Edit", edit_question_comment_path(@question, comment), method: 'get' %>
              <%= link_to "Delete", question_comment_path(@question, comment), method: 'delete' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</section>
