<main class="show-q">
  <% if @question.answer %>
    <div class="row card-rows center-align">
      <div class="col s6" style="width:100%">
        <div class="card teal">
          <div class="card-content white-text show-card">
            <p><%= @question.content %></p></br>
            <p>Submitted by: <%= @question.user.first_name.capitalize %> <%= @question.user.last_name.capitalize[0] %>.</p>
          </div>
          <% if @question.user == current_user %>
            <div class="card-action remove-margin">
              <%= link_to "Edit", edit_question_path(@question), method: 'get' %>
              <%= link_to "Delete", question_path(@question), method: 'delete' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row card-rows center-align">
      <% if @question.answer %>
        <div class="col s6" style="width:100%">
          <div class="card blue">
            <div class="card-content white-text show-card">
              <p><%= @question.answer.content %></p></br>
              <p>Submitted by: <%= @question.answer.user.first_name.capitalize %><%= @question.answer.user.last_name.capitalize[0] %>.</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="row card-rows center-align">
      <div class="col s12" style="width:100%">
        <div class="card teal">
          <div class="card-content white-text show-card">
            <p><%= @question.content %></p></br>
            <p>Submitted by: <%= @question.user.first_name.capitalize %> <%= @question.user.last_name.capitalize[0] %>.</p>
          </div>
          <% if @question.user == current_user %>
            <div class="card-action remove-margin">
              <%= link_to "Edit", edit_question_path(@question), method: 'get' %>
              <%= link_to "Delete", question_path(@question), method: 'delete' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</main>
