<div class="button-margin">
  <div class="center-align post-q admin-c-button-row">
    <%= button_to "Post a Comment", new_admin_question_comment_path(@question), method: "get", class: "admin-button" %>
    <%= button_to "Delete", admin_question_path(@question), method: "delete", class: "admin-button" %>
  </div>
</div>
<main class="show-admin-q">
  <div class="row card-rows center-align">
    <div class="col s6" style="width:100%">
      <div class="card teal">
        <div class="card-content white-text show-card">
          <p><%= @question.content %></p></br>
          <p>Submitted by: <%= @question.user.first_name.capitalize %> <%= @question.user.last_name.capitalize[0] %>.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row card-rows center-align">
    <% if @question.answer %>
      <div class="col s6" style="width:100%">
        <div class="card blue">
          <div class="card-content white-text show-card" id="answer">
            <p><%= @question.answer.content %></p></br>
            <p>Answered by: <%= @question.answer.user.first_name.capitalize %> <%= @question.answer.user.last_name.capitalize[0] %>.</p>
            <div class="card-action remove-margin">
              <%= link_to "Edit", edit_admin_question_answer_path(@question, @question.answer) %>
              <%= link_to "Delete", admin_question_answer_path(@question, @question.answer), method: 'delete' %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="col s6" style="width:100%">
        <div class="card answer-border">
          <div class="card-content black-text show-card">
            <%= render partial: 'admin/answers/form' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</main>
<section>
  <% @comments.each_with_index do |comment, index| %>
    <div class="center-align show-c" id="comment-<%= index + 1 %>">
      <div class="col s12" style="width:65%">
        <% if comment.user.admin? %>
          <div class="card blue">
        <% else %>
          <div class="card amber">
        <% end %>
          <div class="card-content white-text show-card">
            <p><%= comment.content %></p></br>
            <p>Submitted by: <%= comment.user.first_name.capitalize %> <%= comment.user.last_name.capitalize[0] %>.</p>
          </div>
          <%= button_to "Post a Sub-Comment", new_question_comment_sub_comment_path(@question, comment), method: "get", class: "b-margin" %>
          <% if comment.user == current_user %>
            <div class="card-action remove-margin">
              <%= link_to "Edit", edit_admin_question_comment_path(@question, comment), method: 'get' %>
          <% end %>
              <%= link_to "Delete", admin_question_comment_path(@question, comment), method: 'delete', class: "delete-text" %>
            </div>
        </div>
      </div>
    </div>
  <% end %>
</section>
