<div class="button-margin">
  <div class="center-align post-q"><%= button_to "Delete", admin_question_path(@question), method: "delete" %></div>
</div>
<main class="show-admin-q">
  <div class="row card-rows center-align">
    <div class="col s6" style="width:100%">
      <div class="card teal">
        <div class="card-content white-text show-card">
          <p><%= @question.content %></p></br>
          <p>Submitted by: <%= @question.user.first_name.capitalize %> <%= @question.user.last_name.capitalize[0] %>.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row card-rows center-align">
    <% if @question.answer %>
      <div class="col s6" style="width:100%">
        <div class="card blue">
          <div class="card-content white-text show-card">
            <p><%= @question.answer.content %></p></br>
            <p>Answered by: <%= @question.answer.user.first_name.capitalize %> <%= @question.answer.user.last_name.capitalize[0] %>.</p>
            <% if current_admin? %>
              <div class="card-action remove-margin">
                <%= link_to "Edit", edit_question_path(@question), method: 'get' %>
                <%= link_to "Delete", question_path(@question), method: 'delete' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="col s6" style="width:100%">
        <div class="card card-border">
          <div class="card-content black-text show-card">
            <%= render partial: 'admin/answers/form' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</main>
