<!DOCTYPE html>
<html>
  <head>
    <title>ParkingLot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if current_user %>

    <% else %>
      <%= button_to 'Log In', login_path, method: 'get' %>
    <% end %>
    <%= button_to 'Register', new_user_path, method: 'get' %>
    <%= button_to 'View Questions', questions_path, method: 'get' %>
    <%= yield %>
  </body>
</html>
